#my-video{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1000;
}


h1 {
    text-align: center
}


 

.content {
    
    top: 0;
    background: rgb(rgba(151, 151, 151, 0.5));
    color:rgb(#f1f1f1);
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    
}


